WS_ConfigurationManagementApp/CommonLibrary/Prefix2BtyesMessage.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
        <xsd:simpleType dfdl:binaryNumberCheckPolicy="strict" dfdl:binaryNumberRep="binary" dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:representation="binary" name="PrefixLength2">
    <xsd:restriction base="xsd:unsignedInt"/>
  </xsd:simpleType>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="prefixed" dfdl:lengthUnits="bytes" dfdl:prefixIncludesPrefixLength="no" dfdl:prefixLengthType="PrefixLength2" ibmSchExtn:docRoot="true" name="Prefix2BtyesMessage">
		<xsd:complexType>
					<xsd:sequence dfdl:separator="">
							<xsd:element name="BlobMsg" type="xsd:hexBinary"/>
						</xsd:sequence>
				
		</xsd:complexType>
	</xsd:element>

</xsd:schema>